---

---
<div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-3/4 h-3/4">
    <div class="w-full h-full bg-gradient-to-br from-indigo-300 via-purple-300 to-pink-300 opacity-30 blur-3xl rounded-full"></div>
</div>