---

---
<header class="z-10 relative bg-transparent">
    <nav class="container max-w-5xl flex items-center justify-between px-8 py-4 mx-auto" aria-label="Global">
        <div class="flex lg:flex-1 space-x-1">
            <a class="flex items-center gap-2 shrink-0 " title="Zenvoice hompage" href="/">
                <img alt="sendfa.st logo" src="sendfast.png" class="w-8 md:w-10">
                <span class="font-extrabold text-lg">Sendfa.st</span>
            </a>
        </div>
        <div class="hidden lg:flex lg:justify-center lg:gap-12 lg:items-center">
            <a class="link link-hover" title="Pricing" href="/#features">Features</a>
            <a class="link link-hover" title="Pricing" href="/#pricing">Pricing</a>
            <a class="link link-hover" title="FAQ" href="/#faq">FAQ</a>
        </div>
        <div class="flex justify-end flex-1 space-x-3">
            <a class="btn btn-sm btn-primary">
                Go Pro
            </a>
            <a class="btn btn-sm">Login</a>
        </div>
    </nav>
</header>
