---
import Toaster from "../components/Toaster.svelte";
interface Props {
    title: string;
}

import '@fontsource-variable/gabarito';
const {title} = Astro.props;
---

<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="description"
          content="Instantly share images, videos, PDFs from one device to another. No file size limits. Complete privacy."/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <link rel="sitemap" href="/sitemap-index.xml"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{title}</title>
</head>
<body>
<main class="min-h-screen">
    <Toaster client:only="svelte"/>
    <slot/>
</main>
</body>
</html>

<style is:global>
    * {
        font-family: 'Gabarito Variable', system-ui;
    }

    .btn-primary {
        color: white;
    }
</style>