---
export const prerender = false
import Layout from "../../layouts/Layout.astro";
import GradientBackdrop from "../../components/GradientBackdrop.astro";
import Room from "../../components/Room.svelte";
const {code} = Astro.params
---
<Layout title="Sendfa.st">
    <section id="app" class="min-h-[100vh] bg-base-100 relative overflow-hidden">
        <GradientBackdrop/>
        <Room code={code} client:only="svelte"/>
    </section>
</Layout>
