---
import GradientBackdrop from "../../components/GradientBackdrop.astro";
import Layout from "../../layouts/Layout.astro";
import Room from "../../components/Room.svelte"
---
<Layout title="Sendfa.st">
    <section id="app" class="min-h-[100vh] bg-base-100 relative overflow-hidden">
        <GradientBackdrop/>
        <Room code={undefined} client:only="svelte"/>
    </section>
</Layout>
