---
import Layout from "../layouts/Layout.astro";
import DonationButtons from "../components/DonationButtons.svelte";
---
<Layout>
    <section id="donate" class="flex items-center justify-center min-h-screen bg-base-200">
        <div class="card card-bordered shadow-xl max-w-md bg-base-100">
            <div class="card-body items-center gap-8">
                <div>
                    <h2 class="card-title">Please donate <3</h2>
                    <p>It helps the development and maintenance of the website.</p>
                </div>
                <DonationButtons client:load/>
            </div>
        </div>
    </section>
</Layout>

<script>
</script>