---
import Layout from '../layouts/Layout.astro';
import {
    Users,
    Zap,
    Shield,
    MonitorSmartphone,
    Twitter,
    Heart,
    Image,
    Handshake,
    HandMetal,
    Plus,
    Minus
} from "lucide-astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import GradientBackdrop from "../components/GradientBackdrop.astro";
import LandingFileZone from "../components/LandingFileZone.svelte";

const tweet = "I just used sendfa.st to send files between my devices. It's fast, secure and no registration required. Check it out at https://sendfa.st";
---
<Layout title="SendFast • quick and easy file transfers">
    <Navbar/>
    <section class="md:min-h-[100vh] bg-base-100 relative overflow-hidden">
        <GradientBackdrop/>
        <div class="relative z-10 max-w-6xl mx-auto flex flex-col items-center justify-center gap-16 lg:gap-20 px-8 py-12 lg:py-32">
            <div class="relative z-10 mx-auto flex flex-col items-center justify-center gap-16 lg:gap-20 px-8 py-12 lg:py-32">
                <div class="relative flex flex-col lg:flex-row gap-10 lg:gap-12 items-center justify-center text-center">
                    <div class="flex flex-col gap-3">
                        <h1 class="font-extrabold m-0 text-4xl md:text-5xl text-center lg:text-left">Send files with
                            ease, fast and secure.</h1>
                        <div>
                            <p class="text-center lg:text-left text-base-content/80 text-lg md:text-xl">Send files
                                between your devices
                                without
                                any hassle. </p>
                        </div>
                        <div class="mx-auto lg:mx-0">
                            <ul class="flex flex-wrap gap-x-5 gap-y-3">
                                <li class="flex items-center gap-2">
                                    <Zap class="h-5"/>
                                    Fast
                                </li>
                                <li class="flex items-center gap-2">
                                    <MonitorSmartphone class="h-5"/>
                                    Cross-platform
                                </li>
                                <li class="flex items-center gap-2">
                                    <Shield class="h-5"/>
                                    Secure
                                </li>

                                <li class="flex items-center gap-2">
                                    <Handshake class="h-5"/>
                                    Free
                                </li>
                            </ul>
                        </div>
                    </div>
                    <LandingFileZone client:only="svelte"/>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-base-100 text-base-content" id="features">
        <div class="max-w-5xl mx-auto px-8 py-16 md:py-32">
            <h2 class="text-center font-extrabold text-4xl md:text-5xl tracking-tight mb-12 md:mb-20">Features</h2>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
                <div class="card card-bordered">
                    <div class="card-body items-center">
                        <div class="space-y-3">
                            <Zap class="h-16 w-16"/>
                        </div>
                        <p class="text-2xl font-bold">Lightning Fast</p>
                        <p class="text-center">Transfer files as fast as your wifi can handle.</p>
                    </div>
                </div>
                <div class="card card-bordered">
                    <div class="card-body items-center">
                        <div class="space-y-3">
                            <Shield class="h-16 w-16"/>
                        </div>
                        <p class="text-2xl font-bold">Secure & Private</p>
                        <p class="text-center">Your data is fully end-to-end encrypted, sent straight to the other
                            device</p>
                    </div>
                </div>
                <div class="card card-bordered">
                    <div class="card-body items-center">
                        <div class="space-y-3">
                            <MonitorSmartphone class="h-16 w-16"/>
                        </div>
                        <p class="text-2xl font-bold">Cross platform</p>
                        <p class="text-center">Works seamlessly across all devices and operating systems.</p>
                    </div>
                </div>
                <div class="card card-bordered">
                    <div class="card-body items-center">
                        <div class="space-y-3">
                            <Handshake class="h-16 w-16"/>
                        </div>
                        <p class="text-2xl font-bold">Free</p>
                        <p class="text-center">You can transfer your files for free.</p>
                    </div>
                </div>
                <div class="card card-bordered">
                    <div class="card-body items-center">
                        <div class="space-y-3">
                            <HandMetal class="h-16 w-16"/>
                        </div>
                        <p class="text-2xl font-bold">Easy to use</p>
                        <p class="text-center">Transfer files without a complicated process</p>
                    </div>
                </div>
                <div class="card card-bordered">
                    <div class="card-body items-center">
                        <div class="space-y-3">
                            <Image class="h-16 w-16"/>
                        </div>
                        <p class="text-2xl font-bold">No data loss</p>
                        <p class="text-center">All images and videos are sent without any compression</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-base-100 text-base-content" id="how-it-works">
        <div class="flow-root max-w-5xl mx-auto px-8 py-16 md:py-32">
            <h2 class="text-center font-extrabold text-4xl md:text-5xl tracking-tight mb-12 md:mb-20">How it works</h2>
            <div class="-my-8 divide-y divide-gray-100">
                <details class="group py-8 [&_summary::-webkit-details-marker]:hidden">
                    <summary class="flex cursor-pointer items-center justify-between gap-1.5 text-gray-900">
                        <h2 class="text-xl font-medium">1. Upload Your Files</h2>

                        <span class="relative size-5 shrink-0 ">
                            <Plus class="absolute inset-0 size-5 opacity-100 group-open:opacity-0"/>
                            <Minus class="absolute inset-0 size-5 opacity-0 group-open:opacity-100"/>
                        </span>
                    </summary>

                    <p class="mt-4 leading-relaxed text-gray-700">Simply drag and drop your files into Sendfa.st to get
                        started with your transfer.</p>
                </details>
            </div>
            <div class="-my-8 divide-y divide-gray-100">
                <details class="group py-8 [&_summary::-webkit-details-marker]:hidden">
                    <summary class="flex cursor-pointer items-center justify-between gap-1.5 text-gray-900">
                        <h2 class="text-xl font-medium">2. Share Your Download Link</h2>

                        <span class="relative size-5 shrink-0 ">
                            <Plus class="absolute inset-0 size-5 opacity-100 group-open:opacity-0"/>
                            <Minus class="absolute inset-0 size-5 opacity-0 group-open:opacity-100"/>
                        </span>
                    </summary>

                    <p class="mt-4 leading-relaxed text-gray-700">Share the link with the person or device you want to
                        transfer your files to.</p>
                </details>
            </div>
            <div class="-my-8 divide-y divide-gray-100">
                <details class="group py-8 [&_summary::-webkit-details-marker]:hidden">
                    <summary class="flex cursor-pointer items-center justify-between gap-1.5 text-gray-900">
                        <h2 class="text-xl font-medium">3. Accept & Start The Transfer</h2>

                        <span class="relative size-5 shrink-0 ">
                            <Plus class="absolute inset-0 size-5 opacity-100 group-open:opacity-0"/>
                            <Minus class="absolute inset-0 size-5 opacity-0 group-open:opacity-100"/>
                        </span>
                    </summary>

                    <p class="mt-4 leading-relaxed text-gray-700">Once the recipient accepts the files, the download
                        will start automatically</p>
                </details>
            </div>
            <div class="-my-8 divide-y divide-gray-100">
                <details class="group py-8 [&_summary::-webkit-details-marker]:hidden">
                    <summary class="flex cursor-pointer items-center justify-between gap-1.5 text-gray-900">
                        <h2 class="text-xl font-medium">4. Files Transferred! 🎉</h2>

                        <span class="relative size-5 shrink-0 ">
                            <Plus class="absolute inset-0 size-5 opacity-100 group-open:opacity-0"/>
                            <Minus class="absolute inset-0 size-5 opacity-0 group-open:opacity-100"/>
                        </span>
                    </summary>
                    <p class="mt-4 leading-relaxed text-gray-700">Your files have been successfully sent & received.
                        Congratulations on your smooth transfer</p>
                </details>
            </div>
        </div>
    </section>

    <!--Support-->
    <section class="bg-base-100 text-base-content" id="support">
        <div class="max-w-5xl mx-auto px-8 py-16 md:py-32">
            <h2 class="text-center font-extrabold text-4xl md:text-5xl tracking-tight mb-12 md:mb-20">Want to
                support?</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                <div class="card card-bordered">
                    <div class="card-body items-center">
                        <div class="space-y-3">
                            <Users class="h-16 w-16"/>
                        </div>
                        <p class="text-2xl font-bold">Share</p>
                        <p class="text-center">Please help us by sharing the platform with friends, family and
                            colleagues!</p>
                        <a aria-label="twitter/x social media post" class="btn btn-square mt-3" target="_blank"
                           href=`https://x.com/intent/tweet?text=${tweet}`>
                            <Twitter/>
                        </a>
                    </div>
                </div>
                <div class="card card-bordered">
                    <div class="card-body items-center">
                        <div class="space-y-3">
                            <Heart class="h-16 w-16"/>
                        </div>
                        <p class="text-2xl font-bold">Donate</p>
                        <p class="text-center">Please consider donating a bit of money so I can keep the platform
                            running ❤️</p>
                        <a class="btn btn-primary w-full mt-3" href="/donate">Donate</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <Footer/>
</Layout>