---
import Layout from '../layouts/Layout.astro';
import {Send, Check, Plus, Minus, X} from "lucide-astro";
import Navbar from "../components/Navbar.astro";
---
<Layout title="Sendfa.st | seemless file exchange">
    <Navbar/>
    <section class="md:min-h-[100vh] bg-base-100 relative overflow-hidden">
        <div class="relative z-10  max-w-5xl mx-auto  flex flex-col items-center justify-center gap-16 lg:gap-20 px-8 py-12 lg:py-32">
            <div class="relative z-10  max-w-5xl mx-auto  flex flex-col items-center justify-center gap-16 lg:gap-20 px-8 py-12 lg:py-32">
                <div class="relative flex flex-col gap-10 lg:gap-12 items-center justify-center text-center">
                    <div class="flex justify-center items-center text-xs text-base-content-secondary/60  max-w-2xl">
                        <h1 class="font-extrabold text-4xl lg:text-6xl tracking-tight md:-mb-4">
                            Send files with ease,
                            fast and secure.
                        </h1>
                    </div>
                    <p class="flex justify-center items-center text-base-content-secondary/60 max-w-lg">
                        Send files with ease, fast and secure. No registration required. Connect with your devices
                        and
                        send
                        files with a single click.
                    </p>

                    <ul class="hidden md:block text-base-content-secondary leading-relaxed space-y-1">
                        <li class="flex items-center justify-center lg:justify-start gap-2">
                            <Check/>
                            Fast and secure
                        </li>
                        <li class="flex items-center justify-center lg:justify-start gap-2">
                            <Check/>
                            No file size limit
                        </li>
                        <li class="flex items-center justify-center lg:justify-start gap-2">
                            <Check/>
                            No registration required
                        </li>
                    </ul>

                    <button class="btn btn-primary btn-wide">
                        Send Files
                        <Send/>
                    </button>

                </div>
            </div>
        </div>
    </section>
    <section class="bg-base-100 text-base-content" id="features">
        <div class="max-w-5xl mx-auto px-8 py-16 md:py-32">
            <h2 class="text-center font-extrabold text-4xl md:text-5xl tracking-tight mb-12 md:mb-20">Tired emailing
                yourself files?</h2>
            <div class="flex flex-col md:flex-row justify-center items-center md:items-start gap-8 md:gap-12">
                <div class="card bg-rose-100/75 text-rose-700 max-w-md w-full">
                    <div class="card-body p-8 md:p-12">
                        <h2 class="card-title text-lg font-bold">Sending files without sendfa.st</h2>
                        <ul class="hidden md:block text-base-content-secondary leading-relaxed space-y-1">
                            <li class="flex items-center justify-center lg:justify-start gap-2">
                                <X/>
                                Slow transfer speed.
                            </li>
                            <li class="flex items-center justify-center lg:justify-start gap-2">
                                <X/>
                                Files stored on servers.
                            </li>
                            <li class="flex items-center justify-center lg:justify-start gap-2">
                                <X/>
                                File size limits.
                            </li>
                            <li class="flex items-center justify-center lg:justify-start gap-2">
                                <X/>
                                Monthly subscription.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card bg-emerald-100/75 text-emerald-700 max-w-md w-full">
                    <div class="card-body p-8 md:p-12">
                        <h2 class="card-title text-lg font-bold">Sending files without sendfa.st</h2>
                        <ul class="hidden md:block text-base-content-secondary leading-relaxed space-y-1">
                            <li class="flex items-center justify-center lg:justify-start gap-2">
                                <Check/>
                                Unthrottled transfer speed.
                            </li>
                            <li class="flex items-center justify-center lg:justify-start gap-2">
                                <Check/>
                                No files stored on servers.
                            </li>
                            <li class="flex items-center justify-center lg:justify-start gap-2">
                                <Check/>
                                No file size limits.
                            </li>
                            <li class="flex items-center justify-center lg:justify-start gap-2">
                                <Check/>
                                One-time payment.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-base-100 text-base-content">
        <div class="max-w-5xl mx-auto px-8 py-16 md:py-32">
            <h2 class="text-center font-extrabold text-4xl md:text-5xl tracking-tight mb-12 md:mb-20">How it works</h2>
            <div class="collapse collapse-plus">
                <input type="radio" name="my-accordion-3" checked="checked"/>
                <div class="collapse-title text-xl font-medium">1. Open sendfa.st on both devices</div>
                <div class="collapse-content">
                    <p>Open sendfa.st on both devices. Join a room and connect to each other using the unique room
                        code.</p>
                </div>
            </div>
            <div class="collapse collapse-plus">
                <input type="radio" name="my-accordion-3"/>
                <div class="collapse-title text-xl font-medium">2. Select your files</div>
                <div class="collapse-content">
                    <p>Drag and drop or click and select the files you would like to send to the other device.</p>
                </div>
            </div>
            <div class="collapse collapse-plus">
                <input type="radio" name="my-accordion-3"/>
                <div class="collapse-title text-xl font-medium">3. Accept files & start the download</div>
                <div class="collapse-content">
                    <p>Accept the files the other device wants to send. The transfer will start.</p>
                </div>
            </div>
            <div class="collapse collapse-plus">
                <input type="radio" name="my-accordion-3"/>
                <div class="collapse-title text-xl font-medium">4. Files received! 🎉</div>
                <div class="collapse-content">
                    <p>Wait until the files are transferred. Congrats! You've succesfully exchanged files</p>
                </div>
            </div>
        </div>
    </section>
    <!--DEMO VIDEO-->
    <section class="bg-base-200 overflow-hidden" id="demo">
        <div class="py-24 px-8 max-w-5xl mx-auto">
            <div class="relative flex justify-center flex-col lg:flex-row items-center lg:items-stretch gap-8">
                <div class="relative w-full max-w-lg">
                </div>
            </div>
        </div>
    </section>
    <!--PRICING-->
    <section class="bg-base-200 overflow-hidden" id="pricing">
        <div class="py-24 px-8 max-w-5xl mx-auto">
            <div class="relative flex justify-center flex-col lg:flex-row items-center lg:items-stretch gap-8">
            </div>
        </div>
    </section>

    <!--  FAQ -->
    <section class="bg-base-200" id="faq">
        <div class="py-24 px-8 max-w-7xl mx-auto">
            <div class="flex flex-col md:flex-row gap-12">
                <div class="flex flex-col text-left basis-1/2">
                    <p class="inline-block font-semibold text-primary mb-4">FAQ</p>
                    <p class="text-3xl md:text-4xl font-extrabold text-base-content">Frequently Asked Questions</p>
                </div>
                <div class="basis-1/2">
                    <div class="collapse collapse-plus">
                        <input type="radio" name="my-accordion-3" checked="checked"/>
                        <div class="collapse-title text-xl font-medium">Why do I need sendfa.st</div>
                        <div class="collapse-content">
                            <p>
                                Sendfa.st is a fast and secure way to send files between devices. No registration
                                required. The files are sent directly between the devices.
                                No files are stored on any servers.
                            </p>
                        </div>
                    </div>
                    <div class="collapse collapse-plus">
                        <input type="radio" name="my-accordion-3"/>
                        <div class="collapse-title text-xl font-medium">Is sendfa.st secure?</div>
                        <div class="collapse-content">
                            <p>
                                Yes. All the data being sent with Sendfa.st is encrypted. Nor does sendfa.st store any
                                of the data being sent.
                            </p>
                        </div>
                    </div>
                    <div class="collapse collapse-plus">
                        <input type="radio" name="my-accordion-3"/>
                        <div class="collapse-title text-xl font-medium">Are my files private?</div>
                        <div class="collapse-content">
                            <p>
                                Yes. All the data that a users sent is sent directly via a peer-to-peer connection. This
                                means
                                that the data being sent is never stored or received by any servers.
                            </p>
                        </div>
                    </div>
                    <div class="collapse collapse-plus">
                        <input type="radio" name="my-accordion-3"/>
                        <div class="collapse-title text-xl font-medium">What devices are supported?</div>
                        <div class="collapse-content">
                            <p>All kinds! From phones to laptops. The device requires a modern browser and a Internet
                                connection.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</Layout>