---
import Layout from "../layouts/Layout.astro";
import {ArrowLeft} from "lucide-astro";
---
<Layout title="Sendfast • Privacy Policy">

    <section class="max-w-2xl mx-auto">
        <div class="mt-5">
            <a class="btn btn-ghost btn-lg" href="/">
                <ArrowLeft/>
                Go Back
            </a>
        </div>
        <div class="p-10">
            <h1 class="text-3xl font-extrabold pb-6">Privacy Policy</h1>
            <pre class="leading-relaxed whitespace-pre-wrap">
Privacy Policy for Sendfa.st

Last updated: July 30, 2024

Sendfast ("we," "our," or "us") operates the website https://sendfa.st (the "Service").


1. Information collection and use
-We collect the following information for order processing:
 - Email addresses
 - Payment information

2. Data collection methods
 - We may use cookies and similar tracking technologies to track the activity on our Service and hold certain information.

3. Sharing of Information
 -We do not share user data with third parties.

4. Children's Privacy

 - We do not knowingly collect any personal information from children under the age of 13. If you are a parent or guardian and you are aware that your child has provided us with personal information, please contact us so that we can take necessary action.

5. Your Rights
 - You have the right to request deletion of your data. To exercise this right, please email
support@mg.sendfa.st.

6. Changes to This Privacy Policy
 - We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page and updating the "Last updated" date.

If you have any questions about this Privacy Policy, please contact us at support@mg.sendfa.st.
            </pre>
        </div>
    </section>
</Layout>