---
export const prerendered = false
import Layout from '../layouts/Layout.astro'
import Navbar from '../components/Navbar.astro'
import {Image} from 'astro:assets'

const {cookies, redirect} = Astro

const accessToken = cookies.get('accessToken')
const refreshToken = cookies.get('refreshToken')

if (!accessToken || !refreshToken) {
    redirect('/')
}

---

<Layout title="Sign in">
    <section class="bg-base-200 overflow-hidden min-h-screen" id="login">
        <Navbar/>
        <div class="py-24 px-8 max-w-5xl mx-auto ">
            <div class="mx-auto relative max-w-lg w-full">
                <div class="rounded-2xl p-6 shadow-sm bg-base-100">
                    <div class="relative flex flex-col h-full gap-5 lg:gap-8 z-10 p-8 rounded-lg">
                        <div class="flex flex-wrap gap-2">
                            <div class="flex flex-col justify-end mb-[4px] text-lg "><p class="relative"><span
                                    class="absolute bg-base-content h-[1.5px] inset-x-0 top-[53%]"></span><span
                                    class="text-base-content/80"></span></p></div>
                            <p class="text-5xl tracking-tight font-black">Login</p>
                            <div class="flex flex-col justify-end mb-[4px]"><p
                                    class="text-xs text-base-content/60 uppercase font-semibold">
                            </p></div>
                        </div>

                        <form action="/api/auth/signin" method="post" enctype="multipart/form-data">
                            <label class="form-control">
                                <div class="label">
                                    Email
                                </div>
                                <input placeholder="example@mail.com" class="input input-bordered">
                            </label>

                            <label class="form-control">
                                <div class="label">
                                    Password
                                </div>
                                <input placeholder="•••••••" type="password" class="input input-bordered">
                            </label>
                            <div class="space-y-2 mt-10">
                                <button type="submit" class="btn btn-primary w-full">
                                    Login
                                </button>
                                <button class="btn btn-neutral w-full">
                                    Login with google
                                    <Image loading="eager" alt="google logo" height="50" width="50" class="h-5 w-5"
                                           src="https://lh3.googleusercontent.com/COxitqgJr1sJnIDe8-jiKhxDx1FrYbtRHKJ9z_hELisAlapwE9LUPh6fcXIfb5vwpbMl4xl9H9TRFPc5NOO8Sb3VSgIBrfRYvW6cUA"/>
                                </button>
                                <p>Don't have an account? <a href="/register" class="link link-primary link-hover">Register</a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</Layout>