---
import Layout from '../layouts/Layout.astro'

const {cookies, redirect} = Astro

const accessToken = cookies.get('accessToken')
const refreshToken = cookies.get('refreshToken')

if (!accessToken || !refreshToken) {
    redirect('/')
}
---

<Layout title="Sign in">
    <h1>Sign in</h1>
    <p>New here? <a href="/register">Create an Account</a></p>
    <form action="/api/auth/signin" method="post" enctype="multipart/form-data">
        <label for="email">Email</label>
        <input type="email" id="email" name="email">
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
        <button type="submit">Login</button>
        <button value="google" name="provider" type="submit">Sign in with Google</button>
    </form>
</Layout>
