---
import Layout from '../layouts/Layout.astro'

const {cookies, redirect} = Astro

const accessToken = cookies.get('accessToken')
const refreshToken = cookies.get('refreshToken')

if (!accessToken || !refreshToken) {
    redirect('/')
}
---

<Layout title="Sign in">
    <!--<h1>Sign in</h1>-->
    <!--<p>New here? <a href="/register">Create an Account</a></p>-->
    <!--<form action="/api/auth/signin" method="post" enctype="multipart/form-data">-->
    <!--    <label for="email">Email</label>-->
    <!--    <input type="email" id="email" name="email">-->
    <!--    <label for="password">Password</label>-->
    <!--    <input type="password" id="password" name="password">-->
    <!--    <button type="submit">Login</button>-->
    <!--    <button value="google" name="provider" type="submit">Sign in with Google</button>-->
    <!--</form>-->
    <div class="justify-center mx-auto">
        <div class="flex flex-col gap-4 rounded-box bg-base-200 p-6 max-w-md">
            <h1 class="text-3xl font-bold self-center">Log in</h1>

            <span class="self-center">
        Don't have an account?
        <a class="link link-secondary">Register</a>
    </span>

            <a class="btn btn-neutral">
                <i class="fa-brands fa-google text-primary"></i>
                Log in with Google
            </a>

            <div class="divider">OR</div>
            <form action="/api/auth/signin" method="post" enctype="multipart/form-data">

                <label class="form-control">
                    <div class="label">
                        <span class="label-text">Email</span>
                    </div>

                    <input class="input input-bordered"/>
                </label>

                <label class="form-control">
                    <div class="label">
                        <span class="label-text">Password</span>
                        <a class="label-text link link-accent">Forgot password?</a>
                    </div>

                    <input type="password" class="input input-bordered"/>
                </label>

                <div class="form-control">
                    <label class="cursor-pointer label self-start gap-2">
                        <input type="checkbox" class="checkbox"/>
                        <span class="label-text">Remember me</span>
                    </label>
                </div>

                <button class="btn btn-primary">Log in</button>
            </form>
        </div>
    </div>
</Layout>