---
import Layout from "../layouts/Layout.astro";
import {ArrowLeft} from "lucide-astro";
---


<Layout title="SendFast • Terms of Service">

    <section class="max-w-2xl mx-auto">
        <div class="mt-5">
            <a class="btn btn-ghost btn-lg" href="/">
                <ArrowLeft/>
                Go Back
            </a>
        </div>
        <div class="p-10">
            <h1 class="text-3xl font-extrabold pb-6">Terms of Service</h1>
            <pre class="leading-relaxed whitespace-pre-wrap">
Terms of Service for Sendfa.st

Last updated: July 30, 2024

Sendfast ("we," "our," or "us") operates the website https://sendfa.st (the "Service").

By accessing or using the Service, you agree to be bound by these Terms. If you disagree with any part of the terms, you may not access the Service.

1. Access to the Service
 - Access to the Sendfast's premium features is granted to the user upon a one-time payment, providing unlimited access to the product.
 - Users have the option to request a full refund within 30 days of purchase.

2. User Data
 - Sendfast collects user email and payment information solely for the purpose of providing the service.
 - For more information on how we collect, use, and disclose, please refer to our Privacy Policy.

3. Non-personal Data
 - We may use cookies to collect non-personal information about users' interaction with the Service.

4. Governing Law
 - These Terms shall be governed by and construed in accordance with the laws of the Netherlands.

5. Changes to the Terms of Service
 - Users will be notified of any changes to the Terms of Service by email.

If you have any questions about this Terms of service, please contact us at support@mg.sendfa.st.
            </pre>
        </div>
    </section>
</Layout>
